
/* Your CSS Code here. */
.container {
    width: 250px;
    background-color: purple;
    height: 50%;
    overflow: hidden;
}

.main {
    border-left: 5px solid green;
    padding: 10px;
}

.heading {
    color: white;
}

.heading h1 {
    font-size: 20px;
}